cvxpy==1.1.7
cycler==0.10.0
ecos==2.0.7.post1
future==0.18.2
kiwisolver==1.1.0
matplotlib==3.0.3
numpy==1.18.5
osqp==0.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
scipy==1.4.1
scs==2.1.2
six==1.15.0
tqdm==4.51.0
